body {
  background-color: black;
  color: white;
}
.line {
  position: absolute;
  background-color: white;
}
.horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
}
.vertical {
  width: 1px;
  height: 100%;
  left: 50%;
}
.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20px, 20px);
}
/* .box {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  margin-bottom: 10px;
}
.box:nth-child(7) {
  background-color: teal;
}
.btns {
  position: fixed;
  top: 0;
  right: 0;
} */
